Repository kandersolar/pvlib-python: changes, and which Codecov flags are due for each by the changed paths.
All: core, iotools

codecov.yml:

codecov:
  notify:
    require_ci_to_pass: no

# "flags" are used to identify subsets of the overall codebase when calculating coverage.
# Currently used for "iotools" (pvlib.iotools) and "core" (everything except pvlib.iotools).
# Because we only run the iotools tests sometimes, we need to split it out so that
# codecov doesn't report a big drop in coverage when we don't run them.
# We also use "carryforward: true" so that, when we don't run iotools tests, the last
# known coverage is carried forward and used in place of the missing coverage.
# https://docs.codecov.com/docs/flags
flags:

  core:
    paths:
      - pvlib/
      - '!pvlib/iotools/'
    carryforward: false

  iotools:
    paths:
      - pvlib/iotools/
    carryforward: true  # if not run, use coverage from previous commit


coverage:
  status:
    patch:
      default:
        target: 100%

    project:
      default: off
      core:
        target: auto
        flags:
          - core

      iotools:
        target: auto
        flags:
          - iotools

      tests:
        target: 95%
        paths:
          - "pvlib/tests/.*"
        flags:
          - core
          - iotools

comment: off

bugfix
  .github/workflows/pytest.yml
Due: none

remove spectrl2 tests
  pvlib/tests/test_spectrum.py
Due: core

introduce error to get_psm3
  pvlib/iotools/psm3.py
Due: iotools

split out tests-core and tests-iotools
  codecov.yml
Due: none

switch back to py3.6 for the coverage upload
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
Due: none

don't upload on -min
  .github/workflows/pytest.yml
Due: none

debug forecast/siphon issue
  pvlib/tests/conftest.py
Due: core

more debugging
  .github/workflows/pytest.yml
Due: none

debug
  .github/workflows/pytest.yml
Due: none

verbose
  .github/workflows/pytest.yml
Due: none

duh, forecast.py uses remote-data too
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
  codecov.yml
Due: none

no more verbose
  .github/workflows/pytest.yml
Due: none

specify HEAD
  .github/workflows/asv_check.yml
Due: none

HEAD -> HEAD^!, duh
  .github/workflows/asv_check.yml
Due: none

try breaking a benchmark
  benchmarks/benchmarks/irradiance.py
Due: none

github actions workflow files
  .github/workflows/pytest-remote-data.yml
  .github/workflows/pytest.yml
  codecov.yml
Due: none

GitHub Actions test: drop core coverage
  pvlib/tests/test_spectrum.py
Due: core

Update psm3.py
  pvlib/iotools/psm3.py
Due: iotools

Update test_spectrum.py
  pvlib/tests/test_spectrum.py
Due: core

move 2018 files to new 2018 folder
  paper/2018/2018_paper.md
  paper/2018/codemeta.json
  paper/2018/paper.bib
Due: none

manuscript files and build workflow
  .github/workflows/joss-pdf.yml
  paper/2023/community.png
  paper/2023/contributors.png
  paper/2023/functions_06_010.png
  paper/2023/paper.bib
  paper/2023/paper.md
  paper/2023/timeline.png
Due: none

miscellaneous improvements
  paper/2023/paper.bib
  paper/2023/paper.md
  paper/2023/timeline.png
  paper/2023/timeline2.png
Due: none

a bit of rewrite
  paper/2023/functions_06_010.png
  paper/2023/paper.bib
  paper/2023/paper.md
  paper/2023/timeline2.png
Due: none

updates
  paper/2023/community.png
  paper/2023/contributors.png
  paper/2023/paper.bib
  paper/2023/paper.md
Due: none

more updates
  paper/2023/paper.md
  paper/2023/timeline2.png
Due: none

updates
  paper/2023/paper.bib
  paper/2023/paper.md
Due: none

more speedups
  pvlib/spa.py
Due: core

more improvements
  pvlib/spa.py
Due: core

further optimizations
  pvlib/spa.py
Due: core

more optimization, and bugfix
  pvlib/spa.py
Due: core

polishing with fresh eyes
  paper/2023/community.png
  paper/2023/functions_06_010.png
  paper/2023/paper.bib
  paper/2023/paper.md
  paper/2023/timeline2.png
Due: none

tweaks
  paper/2023/paper.bib
  paper/2023/paper.md
Due: none

move figure
  paper/2023/paper.md
Due: none

cite augspurger paper
  paper/2023/paper.bib
  paper/2023/paper.md
Due: none

update iotools citation
  paper/2023/paper.bib
  paper/2023/paper.md
Due: none

updates
  paper/2023/community.pdf
  paper/2023/community.png
  paper/2023/functions_06_010.pdf
  paper/2023/functions_06_010.png
  paper/2023/paper.bib
  paper/2023/paper.md
  paper/2023/timeline2.pdf
  paper/2023/timeline2.png
Due: none

try out footnote syntax
  paper/paper.md
Due: none

star all names
  paper/paper.md
Due: none
